body {
    background-color: #0f172a;
    color: #f1f5f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #f1f5f9;
    text-align: center;
}

p {
    color: #f1f5f9;
    font-size: 18px;
    line-height: 1.6;
}

form {
    background-color: #1e293b;
    font-size: 18px;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    margin: 0px auto;
}

label {
    margin-bottom: 5px;
    color: #f1f5f9;
}

input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    font-size: 16.2px;
    width: 500px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
    transform: translateY(17px);
}

textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    font-size: 16.2px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

article {
    background-color: #1e293b;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: auto;
    margin: 10px;
    padding: 0;
}

.rol {
    transform: translateY(-10px);
    padding: 12px 15px;
    font-size: 16.2px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #6366f1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6366f1;
    color: #f1f5f9;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid #334155;
    cursor: pointer;
    align-self: center;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #118b3e;
    transform: scale(1.05);
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.titulo-web {
    font-size: 36px;
    color: #f1f5f9;
    padding: 40px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    border-color: #334155;
    text-align: center;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.card {
    display: flex;
    gap: 15px;
    background: #1e293b;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.oculto {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    position: absolute;
}

.visible {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.card-title {
    font-size: 18px;
}

.card-description {
    font-size: card-info;
    margin: auto;
    max-width: 700px;
}

.card-info {
    font-size: 16px;
    color: #f1f5f9;
    margin-right: auto;
}

.card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.card-extra {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.card-extra p {
    font-size: 16px;
}

.card.activa .card-extra {
    max-height: 200px;
    opacity: 1;
    margin-top: 10px;
}

.dia-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(3px);
}

#registro-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#fecha {
    grid-column: span 2;
    width: 350px;
}

#dias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#imagen {
    width: 350px;
}