{% extends "base.html" %}
{% block title %}Actividades{% endblock %}
{% block content %}
    <header class="header">
        <h1 class="titulo-web">Actividades - ExploraDCC</h1>
        <nav class="nav">
            <a href="{{ url_for('index') }}" class="button">Salir</a>
            <a href="{{ url_for('inicio') }}" class="button">Inicio</a>
            <a href="{{ url_for('registro') }}" class="button">Registrarse</a>
            <a href="{{ url_for('estadisticas') }}" class="button">Estadísticas</a>
            <a href="{{ url_for('usuarios') }}" class="button">Usuarios</a>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <h2>Actividades Disponibles</h2>
                <select id="filtro-categoria" class="button select">
                    <option value="todas">Todas</option>
                    <option value="deportiva">Deportiva</option>
                    <option value="cultural">Cultural</option>
                    <option value="tecnologica">Tecnológica</option>
                    <option value="otra">Otra</option>
                </select>
                <button type="button" id="añadir-actividad-btn" class="button">Añadir Actividad</button>
            </div>
            <div id="error-box" hidden>
                <h2 id="error-msg"></h2>
                <ul id="error-list"></ul>
            </div>
            <form class="añadir-card oculto" id="añadir-card-form">
                <select id="categoria" name="categoria" class="button select" required>
                    <option value="" selected>Selecciona una categoría</option>
                    <option value="deportiva">Deportiva</option>
                    <option value="cultural">Cultural</option>
                    <option value="tecnologica">Tecnológica</option>
                    <option value="otra">Otra</option>
                </select>
                <label for="titulo-actividad">Título de la actividad:</label>
                <input type="text" id="titulo-actividad" name="titulo-actividad" class="separation" required>
                <label for="descripcion">Descripción de la actividad:</label>
                <textarea id="descripcion" name="descripcion" placeholder="Descripción de la actividad" required></textarea>
                <section id="dias">
                    <h3>Días de la actividad:</h3>
                    <label class="dia-checkbox">
                        <input type="checkbox" id="lunes" name="dia" value="lunes">
                        Lunes
                    </label>
                    <label class="dia-checkbox">
                        <input type="checkbox" id="martes" name="dia" value="martes">
                        Martes
                    </label>
                    <label class="dia-checkbox">
                        <input type="checkbox" id="miercoles" name="dia" value="miercoles">
                        Miércoles
                    </label>
                    <label class="dia-checkbox">
                        <input type="checkbox" id="jueves" name="dia" value="jueves">
                        Jueves
                    </label>
                    <label class="dia-checkbox">
                        <input type="checkbox" id="viernes" name="dia" value="viernes">
                        Viernes
                    </label>
                    <label class="dia-checkbox">
                        <input type="checkbox" id="sabado" name="dia" value="sabado">
                        Sábado
                    </label>
                    <label class="dia-checkbox">
                        <input type="checkbox" id="domingo" name="dia" value="domingo">
                        Domingo
                    </label><br>
                </section>
                <input type="text" id="hora" name="hora" placeholder="Hora de la actividad (Ej: 18:00 - 20:00)" required>
                <input type="text" id="lugar" name="lugar" placeholder="Lugar de la actividad (Ej: Sala de Computación 101)" required>
                <input type="file" id="imagen" name="imagen" accept="image/*">
                <button type="submit" id="submit-actividad-btn" class="button">Agregar</button>
            </form>
            <section id="actividades-container">
                {% for actividad in actividades %}
                    <article class="card visible" data-categoria="{{ actividad.tipo }}">
                        <img src="{{ actividad.img }}" alt="{{ actividad.nombre_actividad }}">
                        <h3 class="card-title">
                            Categoría: {{ actividad.tipo }}<br>
                            {{ actividad.nombre_actividad }}
                        </h3>
                        <p class="card-descripcion"> {{ actividad.descripcion}}
                        <p class="card-info">
                            <strong>Día:</strong> {{ actividad.dia }}<br>
                            <strong>Hora:</strong> {{ actividad.hora }}<br>
                            <strong>Lugar:</strong> {{ actividad.lugar }}
                        </p>
                        <p class="card-extra">
                            Publicado por {{ actividad.nombre_persona }}<br>
                            Teléfono: {{ actividad.telefono }}<br>
                            Correo: {{ actividad.correo }}
                        </p>
                    </article>
                {% endfor %}
                <article class="card visible" data-categoria="deportiva">
                    <img src="../static/img/Adobe_Express-file(1).jpg" alt="Club de Fútbol">
                    <h3 class="card-title">
                        Categoría: Deportiva<br>
                        Club de Fútbol
                    </h3>
                    <p class="card-descripcion">Participa en el club de fútbol para mantenerte activo y disfrutar de este deporte con tus compañeros del DCC.</p>
                    <p class="card-info">
                        <strong>Día:</strong> Miércoles<br>
                        <strong>Hora:</strong> 17:00 - 19:00<br>
                        <strong>Lugar:</strong> Cancha Deportiva 850
                    </p>
                    <p class="card-extra">
                        Publicado por María González<br>
                        Teléfono: 987-654-3210<br>
                        Correo: maria.gonzalez@ug.uchile.cl
                    </p>
                </article>
                <article class="card visible" data-categoria="cultural">
                    <img src="../static/img/Adobe_Express-file(2).jpg" alt="Club de Teatro">
                    <h3 class="card-title">
                        Categoría: Cultural<br>
                        Club de Teatro
                    </h3>
                    <p class="card-descripcion">Explora tu creatividad y habilidades de actuación uniéndote al club de teatro del DCC, donde podrás participar en diversas producciones y talleres.</p>
                    <p class="card-info">
                        <strong>Día:</strong> Viernes<br>
                        <strong>Hora:</strong> 16:00 - 18:00<br>
                        <strong>Lugar:</strong> Sala de Música -3 851
                    </p>
                    <p class="card-extra">
                        Publicado por Carlos Pérez<br>
                        Teléfono: 555-987-6543<br>
                        Correo: carlos.perez@ug.uchile.cl
                    </p>
                </article>
            </section>
        </section>
    </main>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/actividades.js') }}"></script>
{% endblock %}