{% extends "base.html" %}
{% block title %}Estadísticas{% endblock %}
{% block content %}
    <header class="header">
        <h1 class="titulo-web">Estadísticas - ExploraDCC</h1>
        <nav class="nav">
            <a href="{{ url_for('index') }}" class="button">Salir</a>
            <a href="{{ url_for('inicio') }}" class="button">Inicio</a>
            <a href="{{ url_for('actividades') }}" class="button">Actividades</a>
            <a href="{{ url_for('usuarios') }}" class="button">Usuarios</a>
        </nav><br>
    </header>
    <main>
        <section>
            <h2>Estadísticas de Actividades</h2>
            <article id="grafico-estadisticas">
                <p>A continuación se muestra un gráfico con la distribución de actividades por categoría:</p>
                <img src="../static/img/Distribución_de_actividades.jpg" alt="Gráfico de Estadísticas">
            </article>
            <article>
                <p>A continuación se muestra un gráfico con la distribución de usuarios según sus roles:</p>
                <img src="../static/img/Distribución_de_usuarios_según_roles.jpg" alt="Gráfico de Estadísticas">
            </article>
        </section>
    </main>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
{% endblock %}