{% extends "base.html" %}
{% block title %}Estadísticas{% endblock %}
{% block content %}
    <header class="header">
        <h1 class="titulo-web">Estadísticas - ExploraDCC</h1>
        <nav class="nav">
            <a href="{{ url_for('index') }}" class="button">Salir</a>
            <a href="{{ url_for('inicio') }}" class="button">Inicio</a>
            <a href="{{ url_for('actividades') }}" class="button">Actividades</a>
            <a href="{{ url_for('usuarios') }}" class="button">Usuarios</a>
        </nav><br>
    </header>
    <main>
        <section>
            <h2>Miembros Registrados por Día</h2>
            <div id="grafico-miembros"></div>
        </section>
        <section>
            <h2>Actividades por Tipo</h2>
            <div id="grafico-tipos"></div>
        </section>
        <section>
            <h2>Actividades por Comuna</h2>
            <div id="grafico-comuna"></div>
        </section>
    </main>
{% endblock %}
{% block script %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
{% endblock %}