{% extends "base.html" %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <header class="header">
        <h1 class="titulo-web">Iniciar Sesión</h1><br>
    </header>
    <main>
        <section>
            {% if error %}
            <div id="val-box" class="error-box">
                <h3 id="val-msg">{{ error }}</h3>
            </div>
            {% endif %}
            <form id="login-form" action="{{ url_for('index') }}" method="POST">
                <h3>Ingresa a tu cuenta</h3><br>
                <div class="campo">
                    <label for="nombre_usuario">Nombre de usuario:</label>
                    <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Ingresa tu usuario" required>
                </div>
                <div class="campo">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña" required>
                </div>
                <button id="submit-btn" type="submit" class="button">Ingresar</button>
                ¿No tienes cuenta?
                <a href=" {{ url_for('registro') }}" class="button">Regístrate</a>
            </form>
        </section>
    </main>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}