<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios - ExploraDCC</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
    <header class="header">
        <h1 class="titulo-web">Usuarios - ExploraDCC</h1>
        <nav class="nav">
            <a href="index.html" class="button">Inicio</a>
            <a href="registro.html" class="button">Registrarse</a>
            <a href="actividades.html" class="button">Actividades</a>
            <a href="estadisticas.html" class="button">Estadísticas</a>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <h2>Lista de Usuarios</h2>
                <select id="filtro-rol" class="button select">
                    <option value="todos">Todos</option>
                    <option value="estudiante">Estudiante</option>
                    <option value="docente">Docente</option>
                    <option value="funcionario">Funcionario</option>
                </select>
                <select id="filtro-orden" class="button select">
                    <option value="nombre-asc">Nombre (A-Z)</option>
                    <option value="nombre-desc">Nombre (Z-A)</option>
                </select>
            </div><br>
            <section id="usuarios">
                <section id="usuario-container" class="usuario-container"></section>

                <section id="paginacion" class="paginacion">
                    <button id="anterior-pag" class="button">Anterior</button>
                    <div id="numero-pag">Página 1</div>
                    <button id="proxima-pag" class="button">Siguiente</button>
                </section>
            </section>
        </section>
    </main>
    <script src="../static/js/usuarios.js"></script>
</body>
</html>
