{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}

{%block content %}
    <header class="header">
        <h1 class="titulo-web">Usuarios - ExploraDCC</h1>
        <nav class="nav">
            <a href="{{ url_for('index') }}" class="button">Salir</a>
            <a href="{{ url_for('inicio') }}" class="button">Inicio</a>
            <a href="{{ url_for('registro') }}" class="button">Registrarse</a>
            <a href="{{ url_for('actividades') }}" class="button">Actividades</a>
            <a href="{{ url_for('estadisticas') }}" class="button">Estadísticas</a>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <h2>Lista de Usuarios</h2>
                <select id="filtro-rol" class="button select">
                    <option value="todos" {% if rol_actual == 'todos' %}selected{% endif %}>Todos</option>
                    <option value="estudiante" {% if rol_actual == 'estudiante' %}selected{% endif %}>Estudiante</option>
                    <option value="docente" {% if rol_actual == 'docente' %}selected{% endif %}>Docente</option>
                    <option value="funcionario" {% if rol_actual == 'funcionario' %}selected{% endif %}>Funcionario</option>
                </select>
                <select id="filtro-orden" class="button select">
                    <option value="nombre-asc" {% if orden_actual == 'nombre-asc' %}selected{% endif %}>Nombre (A-Z)</option>
                    <option value="nombre-desc" {% if orden_actual == 'nombre-desc' %}selected{% endif %}>Nombre (Z-A)</option>
                </select>
            </div><br>
            <section id="usuarios">
                <section id="usuario-container" class="usuario-container">
                    {% for usuario in usuarios %}
                        <article class="card-usuario card visible">
                            <h3>{{ usuario.nombre_persona }}</h3>
                            <p>{{ usuario.telefono }}</p>
                            <p>{{ usuario.correo }}</p>
                            <p>{{ usuario.rol }}</p>
                        </article>
                    {% else %}
                        <p>No se encontraron resultados</p>
                    {% endfor %}
                </section>
                <section id="paginacion" class="paginacion" data-actual = {{ pagina_actual }} data-total = {{ total_paginas }}>
                    <button id="anterior-pag" class="button">Anterior</button>
                    <div id="numero-pag">Página {{ pagina_actual }}</div>
                    <button id="proxima-pag" class="button">Siguiente</button>
                </section>
            </section>
        </section>
    </main>
{% endblock %}
{% block script%}
    <script src="{{ url_for('static', filename='js/usuarios.js') }}"></script>
{% endblock %}
